*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    height:  100vh;

}

.contenedor-login{
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 1em;
    background-image: url(/tp1_tarjeta/img/descarga.jpg);
    background-size: cover;
    background-position: top center; 
    
}
h4.logo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: rgb(199, 188, 199);
    text-align: center;
    font-size: 3em;
    text-shadow: 0 0 10px black, 0 0 20px black;
    /*alineacion de elementos con posicion absolute*/
    position: absolute;
    top: 15vh;
}
.LoginFormContainer{
    width: 100%;
    min-height: 100px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10;
}
#formLogin{
   min-height: 30px;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 2em;
}

#formLogin input[type="text"], #formLogin input[type="password"]
{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow:  0 0 10px green, 0 0 20px green
}
#formLogin input[type="text"]:focus,#formLogin input[type="password"]:focus{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    outline: none;
    border: 3px solid violet;
    padding-left: 1em;
}
.actionLogin{
    min-height: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: rgb(0, 4, 255);
     text-shadow: 0 0 10px violet;
}
.btnLogin{
    text-align: center;
    line-height: 50px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow:  0 0 10px violet, 0 0 20px purple
    
}
.btnLogin:hover{
background-color: violet;
color: white;
}
.actionLogin a{
    color: #000000;
    font-weight: 600;
    text-shadow: 0 0 10px #fff;
    transition: all 0.3s ease-in-out;
}
.actionLogin a:hover{
    color: #6871f6;
    text-shadow: 0 0 10px violet;
}