*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{background-color: beige;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;display:grid;
}

img{
    height: 100%; width: 100%;
    object-fit: cover;
}
.columna{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.producto{
    width: 450px;
    height: 150px;
    background-color: rgb(31, 197, 211);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: rgb(189, 100, 128);
    gap: 10px;
}
.fotoProducto{
    width: 80px;
    flex: 0 0 160px;
    overflow: hidden;
    border-radius: 6px;
    overflow: hidden;
}
.datoProducto{
    display: flex;
    flex-direction: column;
    flex:1 1 60px;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: transparent;
}
.detalleProducto{
    flex:1 1 60px;
}
.valoresProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.valoracion{
    background-color: rgb(244,215,87);
    height: 30px;
    aspect-ratio: 2/2;
    border-radius: 50%;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*para los pares es even y los elemntos impares es odd*/
.producto:nth-child(odd){
    color: rgb(49, 77, 75);
    flex-direction: row-reverse;
    background-color: rgb(39, 238, 162);
}  
