*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
}

body{background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:grid;
    padding: .5em;
    font-size: 16px;
    max-width: 100vmax;
}

img{
    height: 100%; 
    width: 100%;
    object-fit: cover;
}
.contendorproductos{
    gap: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.producto{
    width: 100%;
    height: 120px;
    background-color: rgb(31, 197, 211);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    color: rgb(189, 100, 128);
    gap: 10px;
}
.fotoProducto{
    width: 80px;
    flex: 0 0 160px;
    overflow: hidden;
    border-radius: 6px;
    overflow: hidden;
}
.datoProducto{
    display: flex;
    flex-direction: column;
    flex:1 1 60px;
    justify-content: space-between;
    text-transform: capitalize;
    background-color: transparent;
}
.detalleProducto{
    flex:1 1 60px;
}
.valoresProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.valoracion{
    background-color: rgb(244,215,87);
    height: 30px;
    aspect-ratio: 2/2;
    border-radius: 50%;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*para los pares es even y los elemntos impares es odd*/
.producto:nth-child(odd){
    color: rgb(49, 77, 75);
    flex-direction: row-reverse;
    background-color: rgb(39, 238, 162);
}  

/*----------------------------------------menu desplegable-----------------------------------------------------*/

header{
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu{
    width: 100%;
    background-color: violet;
    display: flex;
    justify-content: space-between;
}

.buscadorcarrito{
    display: flex;
    gap: 0.5em;
}

.buscador input{
    display: none;
}

header button{
    background-color: transparent;
    border:none;
    color:black;
    font-size: 1.5em;
    cursor: pointer;
}

header:hover{
    color:steelblue;
    text-shadow: 0px 0px 5px rgba(128, 128, 128, 0.473);
}

.logo{
    font-size: 1.25em;
}
.categoriasropa{
    display: flex;
    gap: 1em;
    width: 100%;
    overflow: auto;
}
.categoriasropa li{
    font-size: 1.5em;
    cursor: pointer;
    flex: 0 0 200px;
    background-color: rebeccapurple;
}

