
.tarjeta{
    border: solid 3px yellow;
    width: 50px;
    height: 100%;
}

body{
    background-color: #f44;
}
.cabecera{
    background-color: #7040df;
}
.data{
    background-color: rgb(69, 10, 231);
}
#container{
    min-height: 10vh;
    background-color: aliceblue;
}