
.tarjeta{
    border: solid 1px yellow;
    width: 50px;/* ancho solo se usa en el body*/
    height: 100%;
    padding: 10px;
}

body{
    background-color: #f44;
}
.cabecera{
    background-color: #7040df;
}
.data{
    background-color: rgb(69, 10, 231);
}
#container{
    min-height: 100vh;/*alto del body unidad viemport height, solo utilizado en body*/
    background-color: aliceblue;
}