
.tarjeta{
    border: solid 3px white;
}


body{
    background-color: #f44;
}
.cabecera{
    background-color: #7040df;
}
.data{
    background-color: rgb(69, 10, 231);
}
#container{
    background-color: aliceblue;
}